extends layout

block content

  h1 Genre: #{genre.name}
  
  div(style='margin-left:20px;margin-top:20px')
      
  hr
  p
    a(href='/genres/' + genre.id + '/delete') Delete genre
  p
    a(href='/genres/' + genre.id + '/update') Update genre