extends layout

block content
  h1= title
  
  ul
  each squestion in list_questions
    li 
      a(href='/questions/' + squestion.id) #{squestion.title} - #{squestion.correctanswer}
       
  else
    li There are no questions.
